@model LEAP.App.Model.TestTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span>Id</span>
<div>@Model.Id</div>
<span>QuestionCode</span>
<div>Model.QuestionCode
</div>
<span>Desc</span>
<div>@Model.Desc
</div>
